#navbar{

    z-index:9999;
}

#user .row:nth-child(1) {
    font-size: 90px;
    display: flex;
    justify-content: center;
}

#user .row:nth-child(2){
    margin-top: 12px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}